/* ## General styles */
/* This stuff can be ported from experiment to experiment.*/

/* We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */

body {
	padding: 0;
	margin: 0;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
}

.slide {
    margin: 0 auto;
    padding: 10px 0;
    width: 550px;
}

.stanford-picture {
    display: block;
    margin: 20px auto;
}

.block-text {
  width: 550px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

.button {
	background: url(images/button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 20px;
	height: 29px;
	min-width: 70px;
	font-family: Georgia, serif;
	font-size: 14px;
}

.header {
    font-weight: bold;
    padding: 5px 0;
		margin-bottom: .5em;
		width: 550px;
	  text-align: justify;
		margin-top: 15px;
}

.title {
    text-align: center;
    text-decoration: underline;
    padding: 10px 0;
		margin-top: 20px;
}

.labels .bottom-scale {
		font-size: 14px;
}

.labels .top-scale {
    float: right;
		font-size: 14px;
}

.option {
    width: 75px;
}

.option input {
    margin: 0 auto;
    display: block;
}

.number-label {
		text-align: center;
		font-size: 14px;
		margin-bottom: 3px;
}

.question-header {
    font-weight: bold;
    padding: 5px 0;
		margin-bottom: .5em;
		width: 550px;
	  text-align: justify;
		margin-top: 30px;
}

.description {
    padding: 5px 0;
		margin-bottom: .5em;
		width: 550px;
	  text-align: justify;
		margin-top: 15px;
}

.survey-question {
    margin-right: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

textarea {
    width: 100%;
    height: 100px;
}
